a {
  text-decoration: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    129deg,
    #934cd4 27%,
    #ffffff 19%,
    #ffffff 70%,
    #1f71c3 63%
  );
}
.trans-details,
#user-details,
#confirm-details {
  background-color: #ffffffab;
  box-shadow: 0px 0px 30px #272626;
  padding: 1%;
  border-radius: 20px;
  margin: auto;
  width: 70%;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
  background-image: linear-gradient(
    129deg,
    #934cd4d1 27%,
    #ffffff 19%,
    #ffffff 70%,
    #1f71c3d1 63%
  );
}

.heading {
  font-size: xxx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 5px;
}

table {
  margin: auto;
  padding: 10px;
  width: 80%;
}

label {
  font-size: x-large;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  font-size: x-large;
  display: block;
  width: 90%;
  height: 2em;
  align-self: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: 0.5s;
  margin: 3% 0% 3% 0%;
  cursor: pointer;
}

.home-btn,
.donate-btn,
.submit-btn,
input[type="submit"] {
  display: block;
  font-size: x-large;
  height: fit-content;
  width: 100px;
  padding: 10px;
  margin: auto;
  background-color: #c4a9ff;
  border-radius: 10px;
  border: 2px solid rgb(108 94 247);
  transition: 0.5s;
  cursor: pointer;
}
.home-btn:hover,
.donate-btn:hover,
.submit-btn:hover,
input[type="submit"]:hover {
  width: 20%;
  letter-spacing: 1px;
  transition: 0.5s;
  background-color: #7a44f1;
  color: #ffffff;
}

.edit-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
  background-color: #ffffffa3;
  border: solid 1px black;
  font-size: medium;
}

.loader {
  border: 10px solid #934cd4;
  border-top: 10px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
