<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}" media="all"/>
    
    <style>
        .donate-btn {
            right: 50%;
            bottom: 50%;
            transform: translate(50%, 50%);
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="heading">
        Home
    </div>
    <div>
        <a href="infoForm.html">
            <button class="donate-btn">
                Donate
            </button>
        </a>
    </div>
</body>

</html>